{% extends 'base.html.twig' %}
{% block title %}Notre équipe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stylenous.css') }}">
{% endblock stylesheets %}


{% block body %}
    <main>

        <div class="bandeau d-flex justify-content-center flex-column align-items-center">
            <h1>Notre équipe</h1>
            <p>Découvre les membres de notre projet</p>
        </div>

        <section class="troispersonnes d-flex flex-column">
            <div class="personne m-4 p-3 ">
                <div class="d-flex flex-md-row flex-column justify-content-between">
                    <img src="{{ asset('img/nous/eric.JPG') }}" alt="" class="photopersonne m-2">
                    <div class="textepersonne">
                        <h2 class="m-2">Eric Gigondan</h2>
                        <p class="m-2">J'ai 21 ans. Je suis passioné par l'informatique depuis maintenant presque 10 ans.
                            Accro aux nouvelles technologies et à tout ce qui les entoures. Avec de nombreux petits projets et des formations,
                            je m'intéresse aux ordinateurs, aux serveurs et surtout à leur fonctionnement, à leur mise en réseaux et depuis 2016 au développement web.
                        </p>
                        <a href="https://www.eric-gigondan.fr" target="_blank">
                            Mon protfolio:
                            <img style="width: 40px;height: 40px;" src="{{ asset('img/nous/logo-eric.svg') }}" alt="logolinkedin">
                        </a>
                    </div>
                     <a class="iconelinkedin p-0 " href="https://www.linkedin.com/in/eric-gigondan-2120a6171/" style="height:40px;width: 40px;" >
                    <img style="width: 40px;height: 40px;" src="{{ asset('img/nous/linkedin-icon.svg') }}" alt="logolinkedin">
                     </a>
                </div>


            </div>

            <div class="personne align-self-xl-end m-4 p-3 bleu">
                <div class="d-flex flex-md-row flex-column justify-content-between">
                    <img src="{{ asset('img/nous/tiphaine.jpg') }}" alt="" class="photopersonne m-2 ">
                    <div class="textepersonne">
                        <h2 class="m-2">Tiphaine Imbert</h2>
                        <p class="m-2">A 27 ans et après des études en gestion de projets dans le domaine de l'éducation, je décide de me réorienter vers un domaine qui me passionne plus. Très intéressée par les nouvelles technologies et le web, j'entame une reconversion dans le développement web en faisant une formation à Dawan. Ce site est le premier projet d'une nouvelle aventure !</p>
                    </div>
                    <a class="iconelinkedin p-0 " href="https://www.linkedin.com/in/tiphaine-imbert-18b0b414a/" style="height:40px;width: 40px;" >
                        <img style="width: 40px;height: 40px;" src="{{ asset('img/nous/linkedin-icon.svg') }}" alt="logolinkedin">
                    </a>

                </div>


            </div>

            <div class="personne m-4 p-3">
                <div class="d-flex flex-md-row flex-column justify-content-between">
                    <img src="{{ asset('img/nous/photopersonne.jpg') }}" alt="" class="photopersonne m-2">
                    <div class="textepersonne">
                        <h2 class="m-2">Florian Miot</h2>
                        <p class="m-2">Bonjour, je me présente Florian 26 ans, je suis diplomé d'un Bac pro Maintenance des équipements industriel (MEI), après avoir obtenue mon diplôme j'ai enchainé plusieurs travail en intérim, mais j'ai décidé de me reconvertir dans l'informatique car je m'y sentais plus à ma place et maintenant je suis actuellement en formation pour devenir Développeur Web Fullstack chez Dawan</p>
                    </div>
                    <a class="iconelinkedin p-0 " href="https://www.linkedin.com/in/florian-miot-073178b8/" style="height:40px;width: 40px;" >
                        <img style="width: 40px;height: 40px;" src="{{ asset('img/nous/linkedin-icon.svg') }}" alt="logolinkedin">
                    </a>
                </div>


            </div>

        </section>





    </main>
{% endblock body %}